<div>
   <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index.html" class="navbar-brand">Municipalité</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#home" class="smoothScroll">Acceuil</a></li>
                         <li><a href="#main-content" class="smoothScroll">Informations générales</a></li>
                         <li><a href="#blog" class="smoothScroll">Actualités</a></li>
                         <li><a href="#contact" class="smoothScroll">Contact</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li class="section-btn"><a href="#" data-toggle="modal" data-target="#modal-form">Connecter</a></li>
                    </ul>
               </div>

          </div>
     </section>
<section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-5 col-sm-12">
                         <h2>qu'est ce que vous  voulez connaitre pour la municipalité tunis ?</h2>

                    </div>

               </div>
          </div>

     </section>
<section id="main-content">
<section id="blog-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <!-- BLOG THUMB -->
                         <div class="blog-detail-thumb">
                              <div class="blog-image">
                                   <img src="assets/images/mairie-tunis_0805.jpg" class="img-responsive" alt="Blog Image">
                              </div>
                           <p></p>
                           <p></p>
                           <p></p>
                           <p></p>
                            <p>
                              En vertu du décret publié au JORT en date du 08 juillet 1908, le Conseil Municipal de la ville de l’Ariana a été crée en date du 01 juillet 1908 . Il a été stipulé dans son premier article ce qui suit : « Nous avons nommé le citoyen notre enfant Mustapha Denguezli, Préfet des banlieues Président du Conseil susmentionné, Messieurs Delsol, Barrion, Bouteille, Carcassé, Valensi Raymond, Si Salem Lamsi Cheik de la ville de l’Ariana, Monji Baccouche, Bel’ich Chamouil et Taïeb Ayed:Membres»

et elle est soumise à la loi suivante Loi fondamentale pour les municipalités

                            </p>
                            <div class="blog-ads">
                                   <h4>Blog Sample Advertising</h4>
                              </div>
<p>
   A noter que le dit décret est signé par Mohamed Naceur Bey et exécuté par le Résident Général Français Alapetite.



   D’après ce décret, la Commune de l’Ariana au début de sa création était un «Conseil des routes ». Le Conseil se compose d’un président qui est le Chef des Banlieues, de cinq membres français et quatre membres tunisiens.
                            </p>


                              <div class="blog-social-share">
                                   <h4>Share this article</h4>
                                   <a href="https://www.facebook.com/templatemo" class="btn btn-primary"><i class="fa fa-facebook"></i>facebook</a>
                                   <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>twitter</a>
                                   <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>google plus</a>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>
</section>
   <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Contacter nous</h2>
                              <span class="line-bar">...</span>
                         </div>
                    </div>

                    <div class="col-md-8 col-sm-8">

                         <!-- CONTACT FORM HERE -->
                         <form id="contact-form" role="form" action="#" method="post">
                              <div class="col-md-6 col-sm-6">
                                   <input type="text" class="form-control" placeholder="Full Name" id="cf-name" name="cf-name" required="">
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <input type="email" class="form-control" placeholder="Your Email" id="cf-email" name="cf-email" required="">
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <input type="tel" class="form-control" placeholder="Your Phone" id="cf-number" name="cf-number" required="">
                              </div>



                              <div class="col-md-12 col-sm-12">
                                   <textarea class="form-control" rows="6" placeholder="Your requirements" id="cf-message" name="cf-message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="submit" value="Envoyer Message">
                              </div>

                         </form>
                    </div>
               </div>
          </div>
     </section>

<footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info">
                              <h2>Municipalité</h2>
                              <p>ou commune urbaine en Tunisie est un territoire de plusieurs centaines d'hectares incluant des espaces urbains et ruraux organisés en général autour d'une ville principale. En 2016, 350 municipalités1 sont recensées par l'Institut national de la statistique</p>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Municipalité</h2>
                              <ul class="footer-link">
                                   <li><a href="#">Informations générales</a></li>
                                   <li><a href="#"> Annonces & Actualités</a></li>
                                   <li><a href="#">Présentation</a></li>
                              </ul>
                         </div>
                    </div>

                   <div class="col-md-3 col-sm-6">
                         <div class="footer-thumb">
                              <h2>Adresse</h2>
                              <p>	El Kasbaa <br> 1080 TUNIS-CEDEX TUNIS </p>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text">
                                        <p>Copyright &copy; MUNICIPALITE TUNIS</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact">
                                        <p>télephone<span>	71571198 </span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>
<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">

                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>Municipalité</h2>
                                        </div>

                                        <!-- NAV TABS -->
                                        <ul class="nav nav-tabs" role="tablist">
                                          <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Connecter</a></li>
                                        </ul>

                                        <!-- TAB PANES -->
                                       <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                                  <form action="#" method="post">
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Submit Button">
                                                       <a href="">vous oublier votre mot de passe ?</a>
                                                  </form>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>

     </section>

<div role="tabpanel" class="tab-pane fade in" >
</div>
</div>
