.overlay {
background: linear-gradient(to right, #0575E6, #3c00f229);

}
#contact {background: linear-gradient(to right, #0575E6, #3c00f229);}
.modal-body a {
    color: #233952 ;
}
.modal-dialog
.modal-content {
      background: linear-gradient(to right, #c4daec, #e4dbdb);
}
}


